[Unit]
Description=Crypt mount
After=local-fs.target zfs-mount.service zfs-import-cache.service
Before=remote-fs.target docker.service libvirtd.service smbd.service nmbd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/icefox/mount-crypto.sh

[Install]
WantedBy=multi-user.target
